$main-font: "Poppins, sans-serif";
.container {
  font-family: $main-font;
  // height: max(calc(100vh - 120px), 100%);
  min-height: calc(100vh - 120px);
  max-height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  &__add {
    display: flex;
    justify-content: flex-end;
    &__btn {
      font-family: $main-font;
      height: 40px;
      background-color: #ffe200;
      border: 1px solid #ffe200;
      border-radius: 16px;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 800;
    }
  }
  &__board {
    display: flex;
    justify-content: center;
    &__column {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #d1c8ef;
      margin-right: 20px;
      &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        height: 25px;
        &__title {
          font-family: $main-font;
          font-size: 16px;
          font-weight: 800;
          margin: 10px 0 0 10px;
        }
        &__add_ticket {
        }
      }
      hr {
        border: 2px solid #ffe200;
        margin: 10px 0;
        width: 90%;
      }
      &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 230px;
        min-height: 200px;
        padding: 10px;
        border-radius: 10px;
        background-color: #f2f2f2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px;
        &__title {
          margin: 0;
          font-size: 16px;
          font-weight: 800;
          color: #333;
          align-self: flex-start;
        }

        hr {
          border: 1px solid #d5d5d5;
          margin: 10px 0;
          width: 100%;
        }

        &__description {
          margin: 0;
          color: #555;
          min-height: 140px;
          align-self: flex-start;
        }

        &__expiry_date {
          margin: 0;
          color: #777;
          align-self: flex-start;
        }
      }

      &:active {
        cursor: grabbing;
      }
    }
  }
}
