$main-font: "Poppins, sans-serif";
.container {
  font-family: $main-font;
  min-height: calc(100vh - 120px);
  max-height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  &__content{
    margin: 0 60px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 40px;
    &__element{
        
    }
  }
}