body{
  margin: 0 !important;
  background-color: #FFFFFF !important;
}
.container {
  margin: 0;
  padding: 0;
  &__content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__form {
      border: 1px solid #d1c8ef;
      width: 350px;
      &__heading {
        text-align: center;
        margin-top: 20px;
        font-size: 22px;
        font-weight: 800;
      }
      &__inputs {
        margin: 20px;
        &__register {
          display: flex;
          justify-content: flex-end;
          &__text {
            text-decoration: underline;
            cursor: pointer;
            color: blue;
            p {
              margin: 0 0 10px 0;
              padding: 0;
            }
          }
        }
        &__submit_btn {
          background-color: #2d2d2d;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
