$main-font: "Poppins, sans-serif";
$border-color: #f2f2f2;
$error-color: red;
.container {
  font-family: $main-font;
  &__label {
    font-family: $main-font;
    font-size: 16px;
    color: grey;
  }
  &__input {
    font-family: $main-font;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $border-color;
    box-sizing: border-box;
  }
  &__error_message {
    color: $error-color;
    font-size: 12px;
    margin: 0 0 10px 0;
    padding: 0;
  }
}
