$main-font: "Poppins, sans-serif";
.container {
  background-color: #ffffff;
  color: #141414;
  padding: 10px 10px 10px 40px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    display: flex;
    font-size: 24px;
    cursor: pointer;
    font-weight: 800;
    &__home{
      font-size: 16px;
      margin: 6px 10px 0 20px;
      &:hover {
        color: #ffe200;
      }
    }
    &__history{
      font-size: 16px;
      margin: 6px 0px 0 0px;
      &:hover {
        color: #ffe200;
      }
    }
 
    &__first {
        margin-right: 4px;
    }
   
  }
  &__right {
    margin-right: 20px;
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 26px;
      width: auto;
      padding: 16px;
      border: 1px solid #d5d5d5;
      cursor: pointer;
    }
  }
}
