$main-font: "Poppins, sans-serif";
.container {
  &__btn {
    font-family: $main-font;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    &:hover{
      color: #ffe200;
    }
  }
  &__modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &__header{
      margin-top: 4px;
      font-size: 24px;
      font-weight: 800;
    }
    &__close_btn {
      color: #141414;
      font-size: 14px;
      border: 1px solid #f2f2f2;
      border-radius: 16px;
      width: 70px;
      height: 34px;
      padding: 4px 10px 4px 10px;
      &:hover{
        cursor: pointer;
        background-color: #ffe200;
      }
    }
    &__submit_btn {
      margin-top: 20px;
      color: #141414;
      background-color: #ffe200;
      border: 1px solid #ffe200;
      border-radius: 16px;
      font-size: 16px;
      width: 70px;
      height: 34px;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
